<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{name}} {{Qty}}</h3>
            <p>{{type}}</p>
            <p>$ {{price}}</p>
            <form action="" method="GET">
            <button type="submit" class="uk-button uk-button-primary uk-button-small"><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
            </form>
        </div>
    </div>
</div>