<main id="main">

  <div id="form-registro">

    <h1 class="reg">Actualiza tu perfil</h1>

    {{#if msg }}

    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>{{ msg }}</p>
    </div>

    {{/if}}

    <form class="form" action="/profile/account/{{user._id}}/edit" method="POST" enctype="multipart/form-data">

      <div class="js-upload" uk-form-custom>
        <input type="file" name="photo">
        <span class="uk-form-icon" uk-icon="icon: image"></span>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">&nbsp;&nbsp;&nbsp;Selecciona una foto</button>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" name="name" placeholder="Nombre completo" value="{{user.name}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon:  mail"></span>
          <input class="uk-input" type="email" name="email" placeholder="Correo electrónico" value="{{user.email}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon:  phone"></span>
          <input class="uk-input" type="tel" name="phone" placeholder="Número + lada" value="{{user.phone}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" name="password" placeholder="Contraseña">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="password" name="password-confirm" placeholder="Reingresa tu contraseña">
        </div>
      </div>

      <p class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary"><i class="fas fa-user"></i> Actualizar perfil</button>
      </p>

    </form>

    <button id="Borrar" class="uk-button uk-button-danger"><i class="fas fa-trash-alt"></i> Eliminar cuenta</button>
    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="mod"><i class="fas fa-sad-cry fa-2x"></i> Seguro que deseas ELIMINAR tu cuenta!</h2>
    </div>
    <div class="modal-body">
      <p class="inf">Si eliminas tu cuenta todos tus datos se perderan de forma permanente.</p>
      <form action="/profile/account/{{user._id}}/delete" method="POST">
      <button type="submit" id="myBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"><i class="fas fa-user-minus"></i> Eliminar de todas formas</button>
      </form>
    </div>
  </div>

</div>
</main>