<main class="carta"
  <div class="uk-child-width-1-2@m" uk-grid>
    <div> 
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="{{this.image}}" alt="image">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{this.cantidad}}</h3>
                <p>{{this.preciooo}}</p>
            </div>
        </div>
    </div>
    <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{name}} {{precio}}</h3>
            <p>{{cantidad}}</p>
        </div>
    </div>
</div>
</main>